<footer class="site-footer">

  <div class="wrapper">

<div style="text-align:center;">
<img class="footer-logo" src="/assets/grow_rgb.png">
<img class="footer-logo" src="/assets/explore.png">
<img class="footer-logo" src="/assets/UOY-logo.png">
</div> 

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">

        <ul class="contact-list">

            {% if site.email %}
            <li>For more information on the project contact: <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            {% endif %}
            {% if site.twitter_username %}
            |
              {% include icon-twitter.html username=site.twitter_hashtag %}
            </li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
    <p class="footer-heading">
      Telling the Bees is funded by the Arts and Humanities Research Council (<a href="http://gtr.rcuk.ac.uk/projects?ref=AH%2FP009581%2F1" target="_blank">AH/P009581/1</a>).
    </p>
  </div>

</footer>
