---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import url('https://fonts.googleapis.com/css?family=Lusitana');
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');

body {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #333;
}

h1, h2, h3, h4, nav {
  font-family: 'Lusitana', serif;
  color: #333;
}

.header-image {
  height: 250px;
  margin: 0;
  margin-top: -20px;

}
img.header-image {
  height: 250px;
  margin: 0;
  object-fit: cover;
  width: 100%;
}
.site-nav {
  line-height: normal;
  margin-top: 10px;
}
.page-content {

  padding: 20px 0;
}
.site-title {
  font-family: 'Lusitana', serif;
  font-size: 2.2em;
  letter-spacing: normal;
  transition: all 0.3s ease;
}
a.site-title {
  margin-left: 0;
}
.page-link {
  transition: all 0.3s ease;
}
a.page-link:hover {
  color: grey;
  text-decoration: none;
}
a.site-title:hover {
  text-decoration: none;
  color: #c99a2a;
}
img.site-logo {
  max-width: 50px;
  float:left;
  padding: 2px;
  margin-right: 6px;
}
.site-header {
  background: -o-linear-gradient(left, #c99a2a, #ffdd8d, #ecbf53, #ffe5a6, #b48925);
  background: linear-gradient(to right, #c99a2a, #ffdd8d, #ecbf53, #ffe5a6, #b48925);
  background: linear-gradient(to right, #9f826d, #d7b62b, #cdac4e, #d18911, #b48925);
  height: auto;
  border: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  border-left: none;
  border-right: none;
}

.header-bkgd {
  background: white;
  margin-top: 11px;
  padding-top: 8px;
  padding-bottom: 8px;
}
/*footer */
p.footer-heading {
  font-size: 12px;
  text-align: right;/*
  border-top: 1px solid #e8e8e8;
  border-top: 1px solid #eee;*/
  color: #828282;
  padding-top: 4px;
}
.footer-col-1{
  width: calc(40% - (30px / 2));
  font-size: 0.85em;
  margin: 0;
}
.footer-col-3{
  width: calc(60% - (30px / 2));

  margin: 0;
  float: right;
  font-size: 0.85em;
}
.footer-col-wrapper {
  margin: 6px 0;
  padding: 10px 0 0;
}
.site-footer {
  padding-top: 10px;
}
.footer-logo {
  height: 60px;
  object-fit: contain;
  max-width: 150px;
  margin: 3px 8px;
  padding: 0;
}
.post-content {
  margin-top: 10px;
}
