---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import url('https://fonts.googleapis.com/css?family=Lusitana');

body {
  font-family: 'Arial', sans-serif;
  color: blue;
}

h1, h2, h3, h4 {
  font-family: 'Lusitana', serif;
  color: #333;
}
