---
layout: home
---

<span class="firstcharacter">T</span>elling the Bees is an interdisciplinary arts and humanities research project (Feb 2017 - Sept 2018) between Universities of York, Sheffield and Lancaster, working with GrowTheatre (Sheffield) and Explore York Libraries & Archives. Telling the Bees aims to develop and promote understanding and new ways of thinking about bees and beekeeping through design, drama, and digital making. It builds on the outputs of a previous project that worked with beekeepers, storytelling and designers in Scotland.

<div class="homenav">
<div class="image-nav">
  <a href="/about/2018/02/04/project-team.html">
  <img src="/assets/navhex1.png">
  <p>Project team</p></a>
</div>
<div class="image-nav">
  <a href="/beespoon/">
  <img src="/assets/navhex2.png">
  <p>Beespoon</p></a>
</div>
<div class="image-nav">
  <a href="/about/2018/02/04/design-fictions.html">
  <img src="/assets/navhex3.png">
  <p>Design Fictions</p></a>
</div>
<div class="image-nav">
  <a href="/about/2018/02/04/interactive-hive.html">
  <img src="/assets/navhex4.png">
  <p>Interactive Hive</p></a>
</div>
<div class="image-nav">
  <a href="/news/2017/09/05/pollination-workshop-post-from-project-intern.html">
  <img src="/assets/navhex4.png">
  <p>PolliNation</p></a>
</div>
</div>
